#!/bin/bash
#########
#Master variables for project
#############

# Directory structure
export PROJECT_NAME=Bjornsson_KS_div_seq
export PROJECT_ROOT=$HOME/work/seq/shared/Bjornsson/KS_div_seq #Please adjust this accordingly. WILL NOT WORK UNLESS SPECIFIED!
export DIFF_ROOT=$PROJECT_ROOT/analysis
export READS_ROOT=$PROJECT_ROOT/data/fastqs
export ALIGN_ROOT=$PROJECT_ROOT/data/bam
export QUANT_ROOT=$PROJECT_ROOT/data/quants
export NORM_ROOT=$PROJECT_ROOT/data/norms
export SCRATCH_ROOT=/scratch/groups/lgoff2/seq/shared/$PROJECT_NAME
export LOG_BASE=$PROJECT_ROOT/logs

# Project-specific annotation
export REF_GTF=$HOME/work/assemblies/mouse/gencode/M10/filtered/gencode.vM10.transcripts.filtered.gtf
export HISAT_INDEX=$HOME/work/indexes/mouse/mm10/hisat2/mm10_hisat2_ercc

# Data sheets
export FASTQ_SHEET=$PROJECT_ROOT/data/fastq_files.txt
export BAM_SHEET=$PROJECT_ROOT/data/bam_files.txt
export QUANT_SHEET=$PROJECT_ROOT/data/quant_files.txt
export CONTRAST_FILE=$PROJECT_ROOT/data/contrasts.txt

# Queuing information (subject to overwrite by individual scripts)
export QUEUE=shared
export NUM_THREADS=16
export MAX_MEM=5000
export RUN_TIME=5000


